:root{
    --outline-size:1px;
    --outline-size-neg:-1px;
    --chat-width: 30%;
    --chat-height: 40%;
}

body{
    font-family: Roboto;
    font-size: 16pt;
}

#chat{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: var(--chat-width);
    height: var(--chat-height);
    overflow-y: hidden;
    overflow-x: hidden;
    left: 1svw;
    top: 1svw;
    transition: opacity 500ms ease-in-out;
}

.msg{
    display: flex;
    flex-direction: row;
    animation-name: appear;
    animation-duration: 200ms;
    position: relative;
    margin-bottom: 1%;
}

.badges > img{
    width: 21px;
}

.user-holder{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.message
{
    text-shadow:
        var(--outline-size) var(--outline-size) 0 #000,
        var(--outline-size-neg) var(--outline-size) 0 #000,
        var(--outline-size-neg) var(--outline-size-neg) 0 #000,
        var(--outline-size) var(--outline-size-neg) 0 #000;
    color: #fff;
    word-break: break-all;
}

@keyframes appear {
    from {
        margin-left: -100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes appear-right {
    from {
        margin-right: 100%;
        width: 0%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

@font-face{
    font-family: Roboto;
    src: url(/static/fonts/RobotoCondensed-Regular.ttf);
}